.panel {
    display: flex;
    border: 1px solid gray;
    width: 20rem;
}
.panel__input {
    width: 100%;
    padding: .5rem;
    outline: none;
    border: none;
}
.panel__arrow {
    padding: .5rem .5rem 1.2rem;
    opacity: 1;
}
/* .panel__arrow.active {
    opacity: 1;
} */